.carDetailsContainer {
  display: flex;
  flex-direction: row;
  padding-left: 120px;
  padding-right: 120px;
  gap: 72px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.leftColumnWrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
  flex-shrink: 0;
  flex-basis: 640px;
}

.carImageContainer {
  position: relative;
  width: 640px;
  height: 512px;
  overflow: hidden;
  border-radius: 14px;
}

.carDetailImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.formSection {
  width: 640px;

  flex-shrink: 0;
}

.carInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 488px;
  padding-top: 25px;
  flex-basis: 0;
}

.section {
  display: flex;
  flex-direction: column;
}

.conditionsList {
  margin-bottom: 110px;
}

.headerInfo {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.carTitle {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  color: var(--color-main);
  white-space: nowrap;
  margin-right: 16px;
}
.carId {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  min-width: 0;
}
.model {
  color: var(--color-main);
}
.detailsRow {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  color: var(--color-main);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  line-height: 1.25;
  margin-bottom: 16px;
}
.detailsRow p {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
}
.detailsRow p:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background-color: rgba(18, 20, 23, 0.1);
}
.rentalPrice {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  color: var(--color-accent);
  line-height: 1.33;
  margin-bottom: 32px;
}
.description {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  line-height: 1.25;
  color: var(--color-main);
  margin-bottom: 68px;
}
.sectionTitle {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
  color: var(--color-main);
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: 0;
}
.detailsList,
.conditionsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.detailsItem,
.conditionItem {
  font-size: var(--font-size-medium);
  color: var(--color-main);
  line-height: 1.25;
  font-weight: var(--font-weight-medium);
}
.notFound {
  text-align: center;
  font-size: var(--font-size-xl);
  color: red;
  margin-top: 100px;
}
.icon {
  color: var(--color-main);
  margin-right: 10px;
  flex-shrink: 0;
}
