.button {
  display: inline-block;
  border-radius: 12px;
  font-size: var(--font-size-medium);
  line-height: 1.25;
  font-weight: var(--font-weight-semibold);
  color: var(--color-white-second);
  background-color: var(--background-button);
  transition: background-color var(--transition), border-color var(--transition);
  height: 44px;
}

.button:hover,
.button:focus {
  background-color: var(--background-hover);
}

/* Variants */
.catalog {
  padding: 12px 88px;
  max-width: 276px;
}

.readMore {
  padding: 12px 97px;
  max-width: 276px;
}

.search {
  padding: 12px 51px;
  max-width: 156px;
}

.send {
  padding: 12px 51px;
  max-width: 156px;
}

.loadMore {
  border: 1px solid var(--color-border-btn);
  padding: 12px 37px;
  max-width: 156px;
  background-color: var(--background-white);
  color: var(--color-main);
  display: block;
  margin: 0 auto;

  &:hover,
  &:focus {
    background-color: var(--background-white);
    border-color: var(--color-border-btn-hover);
  }
}
