.rangeWrapper {
  outline: none;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  line-height: 1.33;
  color: var(--color-text-gray);
}

.inputGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputFrom {
  width: 160px;
  height: 44px;
  border: 1px solid transparent;
  border-right: 1px solid var(--color-border-two);
  border-radius: 12px 0 0 12px;
  padding: 12px 24px;
  background-color: var(--background-gray);
}

.inputTo {
  width: 160px;
  height: 44px;
  border: 1px solid transparent;
  border-left: 1px solid var(--color-border-two);
  border-radius: 0 12px 12px 0;
  padding: 12px 24px;
  background-color: var(--background-gray);
}

.inputFrom::placeholder,
.inputTo::placeholder {
  color: var(--color-main);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  line-height: 1.25;
}
